/* in new-age.min.css wijzig je NIETS */
/* schrijf in dit bestand je eigen stijlregels om opmaak aan te passen */

@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-image:       url(../img/background.jpg);
    background-attachment:  fixed;
    background-position:    center;
    background-size:        cover;
}

header {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
section {
    margin: 20px;   
    background-color: #ddccb5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: fluid;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
*/

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #C9C9C9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

/* ===========================
   ====== Submit Button ======
   =========================== */

.submit input {
    width: fluid;
    height: 40px;
    background-color: black;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.achterkleur1 {
    background-color: #fbfbfc;
}

.achterkleur2 {
    background-color: #c9d2e6;
}

.achterkleur3 {
    background-color: #aac3de;
}

.achterkleur4 {
    background-color: #95b3d6;
}

.achterkleur5 {
    background-color: #77a3cd;
}

.kleur1 {
    color: #fbfbfc;
}

.kleur2 {
    color: #c9d2e6;
}

.kleur3 {
    color: #aac3de;
}

.kleur4 {
    color: #95b3d6;
}

.kleur5 {
    color: #77a3cd;
}

h1,h2,h3 {
    color: black;
    font-family: 'Righteous', cursive;
}

p {
    color: black;
    font-family: 'Righteous', cursive;
}

.black {
    color: black;
}

h5{
    text-align: center;
}

.display {
    display: none;
}

#mainNav.navbar-shrink .navbar-nav>li>a:focus:hover,
#mainNav.navbar-shrink .navbar-nav>li>a:hover {
    color: #77a3cd;
}

#mainNav .navbar-nav>li>a.active {
    color: #77a3cd !important;
    background-color: transparent;

}

#subNav .navbar-nav>li>a.active {
    color: #77a3cd !important;
    background-color: transparent;
}

#mainNav .navbar-brand {
    color: #fbfbfc;
}
.media-body {
    font-size: 12px;
}
